
/* body{
   
    
    

} */
input{
    width: 250px;
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
}
.btn{
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    
}

.form{
    width: 500px;
    height: 788px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    margin-left: 500px

    
}